
build/

.vscode/

schematics/dgauges-backups/

schematics/fp-info-cache

schematics/Connectors_JST.pretty-master/

schematics/fab_out/

schematics/mainboard/mainboard-backups/

schematics/mainboard/fp-info-cache

schematics/mainboard/#auto_saved_files#
