
build/

.vscode/

schematics/dgauges-backups/

**fp-info-cache

schematics/Connectors_JST.pretty-master/

schematics/fab_out/

schematics/mainboard/mainboard-backups/

schematics/mainboard/#auto_saved_files#

schematics/mainboard-backups/

schematics/dgauges/#auto_saved_files#

schematics/dgauges/dgauges-backups/


schematics/mainboard/_autosave-mainboard.kicad_sch

_autosave*

schematics/mainboard/fab/

schematics/lcd/lcd-backups/

schematics/lcd/fab/

panels/controls/fab/

panels/controls/controls-backups/

panels/sas/sas-backups/

panels/executive/executive-backups/

panels/gauges/gauges-backups/

schematics/lcd/#auto_saved_files#

schematics/mainboard/jlcpcb/gerber/

schematics/mainboard/jlcpcb/production_files/
